<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068981377080-6d25io00r7utvat63tdk7k5987jujaa4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068981377080-6d25io00r7utvat63tdk7k5987jujaa4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1068981377080-d7n5jr3r43731ta3lnfjpc9b9vut68q1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQWFwXh6mTG6F9ZhR35iDfUKBJHkvI-bU</string>
	<key>GCM_SENDER_ID</key>
	<string>1068981377080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mentalHealthApp</string>
	<key>PROJECT_ID</key>
	<string>healthy-and-happy-b85cc</string>
	<key>STORAGE_BUCKET</key>
	<string>healthy-and-happy-b85cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068981377080:ios:8666eaf4ef29826c342ecd</string>
</dict>
</plist>